
@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;1,300&family=Caprasimo&family=DM+Sans:opsz,wght@9..40,200;9..40,300;9..40,500&family=Homemade+Apple&family=Lexend:wght@200;300&family=Montserrat:wght@300;400&family=Young+Serif&display=swap');


/* 
font-family: 'Averia Serif Libre', cursive;
font-family: 'Caprasimo', cursive;
font-family: 'DM Sans', sans-serif;
font-family: 'Lexend', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Young Serif', serif;
 */

body {
  padding:0;
  margin: 0;
}
  
.container {
  overflow: auto;

  background: rgba(255, 255, 255, 0.808);
  border-radius: 5px;
  border: 1px #333 solid;
  padding: 0rem 2.5rem;
  width: 400rem;
  height: 70vh;
  margin: 1rem 2rem;
  overflow-y: auto;
  padding-bottom: 3rem;
}

  h2 {
    font-size: 1.4rem;
    background:none;

    border-bottom: 3px solid #444;
  }
  h3,
  h2 {
    font-family: "Averia Serif Libre", cursive;
    text-transform: capitalize;
    letter-spacing: 1px;
    padding-bottom: 0.1rem;
    font-size: 2rem;
    background:none;
  }
  .servings {
    position: relative;
    text-align: right;
    font-family: "Montserrat";
    color: #555;
    font-size: 0.8em;
    margin-top: 1%;
    text-align: right;
  }

  /* that muted green underline under main headers */

  .borderbox {
    border-bottom: 10px solid #3b583c59;
    padding-top: 0rem;
    position: relative;
    width: auto;
  }

/* food descriptions */

  .description {
    padding: 0rem 0.5rem;
    margin-top: -10px;
    font-family: "DM Sans", sans-serif;
    font-weight: 300;
    font-size: 18px;
    flex-grow: 3;
  }


  p {
  }
  
  

  /* scrollbar properties */
  ::-webkit-scrollbar {
    width: 10px;

  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: rgb(224, 222, 207); 

  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #304b39e7;
    border-radius: 0px;
    scroll-padding-right: -33px;


  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #6fbb82;
    
  }
  


  /* controls label + input pair */

  
.form-input-group {
  text-align: center;
  margin-bottom: 1rem;
  align-items: center;
  position: relative;
  justify-content: center;
}

.form-input-group{
  display:flex;
  justify-content: center;
}

/* Login/Register button */

.login-btn{
  margin-top: 30px;
  font-size: 1rem;
  background-color: #378541d7;
  color: #fff;
font-family: 'Lexend', sans-serif;
  padding: .4rem 1rem;
  border-radius: 33px;
}
.login-link{
  display: flex;
  justify-content:center;
  color: #333;
  font-family: "Montserrat";
}
.login-link a:hover{
  color: rgb(89, 148, 0);
}


/* label for input */
label {
  font-family: "Montserrat";
}

/* input properties (color etc) */
  
input{
  border-radius: 2px;
  font-size: 1rem;
  background-color: #d9e9fa;
  border-bottom: 1px solid #333;
  border: none;
  font-family: 'DM Sans', sans-serif;
  margin-left: 5px;
  padding: 5px;
  }

  /* standard button properties */

  button{
    margin-top: 30px;
     font-size: 1rem;
     background-color: rgba(55, 133, 65, 0.842);
     color: #fff;
     font-family: 'Lexend', sans-serif;
     padding: .4rem 1rem;
     border-radius: 33px;
   }
   
   button:hover{
     background-color: #56907ece;
     border-color: rgba(86, 144, 126, 0.808);
   }


   /* alerts */


#alert{
  color:red;
  font-family: "Montserrat";
  display: flex;
  justify-content: center;
  padding-bottom: .5rem;
}

/* favorites */
.fa-bookmark {

  
}

.favorite {
  color: rgb(255, 174, 0);
  transition: .3s ease;


  /* background:transparent;
  border:none; */
}

.notFavorite{
  border:none;
  color: rgb(0, 0, 0);
}